/node_modules
.idea
.vscode
.fleet
dist
coverage
e2e-results
playwright-report
playwright/.cache
pkg/**

.DS_Store
.env
.terraform*
*.tfstate*
.external_modules

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/unplugged
!.yarn/versions
/test-results/
/playwright-report/
/playwright/.cache/

_tests/.yarn/*
!_tests/.yarn/patches
!_tests/.yarn/plugins
!_tests/.yarn/releases
!_tests/.yarn/sdks


.eslintcache

**/tsconfig.tsbuildinfo
**/Chart.lock
**/node/*/infra/helm/charts/*

.webpack
/test-results/
/playwright-report/
/playwright/.cache/
